@media (min-width:320px) {
  
  .header_wrapper{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;

    h1{
      text-align: center;
    }
  }
}