* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@media (min-width:320px) {
  
  .content_wrapper{
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item_list{
    padding-top: 25px;
  }

  .item_wrapper{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .item_title{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
  }

  .item_description,
  .item_stack{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .item_link{
    width: 105px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    letter-spacing: 0.5px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .item{
    padding-left: 10px;
    display: none;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
  }

  .item__active{
  display: block;
  }

  .item_link{
    width: 105px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    color: black;
    letter-spacing: 0.5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
  }

}