* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@media (min-width:320px) {
  
  .content_wrapper{
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

}